@import url("bootstrap.css");
.top{
  background: url("../images/h_img.jpg") no-repeat center center/cover;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.logo {
  display: block;
  position: absolute;
  top: 90%;
}
/* .top h1{
  
} */
#center{
  display: block;
  text-align: center;
  margin-left: 10%;
  margin-right: 7%;
  margin-top: 5%;;
  margin-bottom: 5%;
}
.bdl{
  background:url("../images/s_image.jpg");
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  height: 60%;
  margin-top: 5%;;
  margin-bottom: 2%;
}
#bdd{
  text-align: center;
}
#bbb{
  text-align: center;
  content: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}
.col-3 img{
  width: 100%;
}
.col-3{
  margin-bottom: 3%;
}