@import url("bootstrap.css");
.top{
  background: url("../images/h_img.jpg") no-repeat center center/cover;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.logo {
  display: block;
  position: absolute;
  top: 90%;
}
#center{
  display: block;
  text-align: center;
  margin-left: 10%;
  margin-right: 7%;
  margin-top: 5%;;
  margin-bottom: 5%;
}
.bdl{
  background:url("../images/s_image.jpg");
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  height: 60%;
  margin-top: 5%;;
  margin-bottom: 2%;
}
#bdd{
  text-align: center;
}
#bbb{
  text-align: center;
  content: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}
.col-3 img{
  width: 100%;
}
.col-3{
  margin-bottom: 3%;
}
.header{
  margin-bottom: 2%;
}
.col-4 p{
  display: none;
}
#conts{
  background: url("../images/cimage.jpg") no-repeat center center/cover;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3%;
  color: white;
}
#btm p{
  text-align: center;
  align-content: center;
  align-items: center;
  margin-right: 50%;
  display: inline;
}
input{
  width: 45%;
  margin-bottom: 3%;
  background: none;
  color: white;
}
textarea{
  background: none;
  color: rgb(255, 255, 255);
}
#social{
  justify-content: center;
  align-items: center;
}
#social img{
  margin: 1%;
}
.lastp{
  text-align: center;
  margin-top: 2%;
}
#firststep {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.description{
  position: absolute;
  display: none;
}